.detalles-pais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.pais-flag-detalles {
    width: 15%;
    height: auto;
    object-fit: contain;
    margin-left: 100px;
}

.pais-coat-of-arms-detalles {
    width: 12%;
    height: auto;
    object-fit: contain;
    margin-right: 100px;
}

.detalles-pais h2 {
    font-size: 3rem;
    color: #7a2a09;
    font-weight: bold;
}

.detalles-pais p {
    font-size: 1.5rem;
    color: #7a2a09;
}