.container-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    background-color: #faecd0;
}

.imagen-logo {
    width: 10%;
    height: 80%;
    object-fit: contain;
}

.container-textos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
}

.boton-principal {
    align-items: center;
    background-color: #faecd0;
    color: #7a2a09;
    border-radius: 15px;
    border: none;
    margin-top: 3%;
    font-size: 3rem;
    width: 36%;
    height: 50%;
    padding: 0;
}

.boton-principal:focus {
    outline: none;
}

.boton-secundario {
    align-items: center;
    background-color: #faecd0;
    color: #7a2a09;
    border-radius: 15px;
    border: none;
    margin-top: 1%;
    font-size: 2rem;
    width: 32%;
    height: 50%;
}

.boton-secundario:focus {
    outline: none;
}

.boton-perfil {
    background-color: #faecd0;
    border: none;
    margin-top: 0.75%;
    width: 10%;
    height: 70%;
}

.boton-perfil:focus {
    outline: none;
}

.boton-perfil img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.container-paises {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    height: auto;
    overflow: auto;
    margin-bottom: 25px;
}

.pais-flag {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.pais-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #faecd0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  height: auto;
  width: auto;
  margin: 25px;
}

.pais-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.pais-card p {
    color: #7a2a09;
    font-size: 1.5rem;
    font-weight: bold;
}

::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background: #faecd0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d4a76a;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a2a09;
}

.container-filtros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  gap: 25px;
}

.boton-continente {
  border: #faecd0;
  background-color: #faecd0;
  color: #7a2a09;
}

.boton-continente.activo {
  background-color: #7a2a09;
  color: #faecd0;
  border-color: #7a2a09;
}

.boton-continente:focus {
  outline: none;
}

.input-buscador {
  border-radius: 25px;
  font-size: 1.25rem;
  border: 2px solid #7a2a09;
  color: #7a2a09;
  background-color: #faecd0;
}

.input-buscador:focus {
  outline: none;
}

.input-buscador::placeholder {
  color: #7a2a09;
}