.container-botones-perfil {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 8%;
}

.boton-cancelar {
  background-color: #7a2a09;
  color: #faecd0;
  border-radius: 15px;
  border: none;
  font-size: 2rem;
  width: 35%;
  height: 100%;
}

.boton-cancelar:focus {
  outline: none;
}

.boton-guardar {
  background-color: #faecd0;
  color: #7a2a09;
  border-radius: 15px;
  border: 2px solid #7a2a09;
  font-size: 2rem;
  width: 35%;
  height: 100%;
}

.boton-guardar:focus {
  outline: none;
}

.boton-guardar:hover {
  border: 2px solid #7a2a09;
}

.container-cerrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton-cerrar {
  background-color: #faecd0;
  color: #7a2a09;
  border-radius: 15px;
  border: none;
  height: 100%;
  margin: 25px;
}

.iconos-cerrar {
  color: #7a2a09;
  width: 250%;
  height: auto;
  cursor: pointer;
  margin: 100%;
}